/*---------------------------------------------------------------*/
body {

}

#contact-section {
    height: 100%;
    width: 100%;
    color: #ccc !important;
    background: url(../img/pattern_stripe.png);
}

#cover {
    height: 100vh;
    width: 100%;
}


/*Everything*/
#contact {
    width: 600px;
    height: 700px;
}

.contact-logo{
    margin-top: 0px;

}
.drop-line {
    font-family: SlimJoe;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    height: 60px;
}
.form-area {

}



input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    color: #ccc !important;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 3.5rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.buttons {
    margin-bottom:30px 0 30px 0;
}

#submit-button {
    float:right;
    width: 150px;
    height: 45px;
    background-color:rgba(232,122,74,.8);
}

#github-button {
    width: 150px;
    height: 45px;
    margin-left: 150px;

/*    text-transform: lowercase;*/
}

#github-button span{
    position: absolute;
    top: 5px;
    left: 30px;

}
#github-button img{
    position: absolute;
    height: 20px;
    padding-top: 2px;
    top: 12px;
    left: 97px
}




/*---------------------------------------------------------------*/
/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {

    }
}



/*---------------------------------------------------------------*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1279px) {
    #contact {
        width: 800px;

}


/*-----------------------------------------------------------------*/
/*Medium screens*/
@media only screen and (max-width : 992px){
    #contact {
        width: 600px;
        height: 600px;
    }

    .drop-line {
        font-size: 25px;
        height: 50px;
    }

}

/*---------------------------------------------------------------*/

/*Small Laptop screens*/
@media screen and (max-width: 768px) {
    #contact {
        width: 90%;
        height: 500px
    }

    .drop-line {
        font-size: 1.5rem;
        height: 30px;
    }

    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {

    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2.5rem;
    width: 100%;
    font-size: .8rem;
    margin: 0 0 6px 0;
    padding: 0;

    }

    .buttons {
    margin: 40px 0 30px 0;
    }

    #submit-button {
        float:right;
        width: 100px;
        height: 35px;
        background-color:rgba(232,122,74,.8);
        font-size: .8rem;
    }

    #github-button {
        width: 100px;
        height: 35px;
        margin-left: 30px;
        font-size: .8rem;

    /*    text-transform: lowercase;*/
    }

    #github-button span{
        position: absolute;
        top:0px;
        left: 13px;

    }
    #github-button img{
        position: absolute;
        height: 20px;
        padding-top: 2px;
        top: 7px;
        left: 66px
    }
}

/*---------------------------------------------------------------*/

    /* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {
    #contact {
        width: 300px;
        height: 500px
    }

    .drop-line {
        font-size: .3rem;

    }

    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {

    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 10px;
    width: 100%;
    font-size: .3rem;
    margin: 0 0 2px 0;
    padding: 0;

    }

    .buttons {
    margin: 40px 0 30px 0;
    }

    #submit-button {
        float:right;
        width: 80px;
        height: 35px;
        background-color:rgba(232,122,74,.8);
        font-size: .8rem;
    }

    #github-button {
        width: 0px;
        height: 35px;
        margin-left: 30px;
        font-size: .8rem;

    /*    text-transform: lowercase;*/
    }

    #github-button span{
        position: absolute;
        top:0px;
        left: 13px;

    }
    #github-button img{
        position: absolute;
        height: 20px;
        padding-top: 2px;
        top: 7px;
        left: 66px
    }

}

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
