/*-----------------------------------------*/
/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {
    #bt-menu {
        visibility: hidden;
    }
}


/*---------------------------------------------------------------*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1279px) {
    #bt-menu {
        visibility: hidden;
    }
}


/*----------------------------------------------------------------*/
/*Medium screens*/
@media only screen and (max-width : 992px){

    /*-----------side -menu--------*/

    .menu, .home-content {
        position: relative;
    }

    .menu {
        width: 100px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
    }

    .flex {
        width: 50px;

    }

    .flex div{
        width: 50px;
        height: 80px;
    }

    .flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    }

    .flex  div:hover, .flex  div p:hover {
        color: #fff
    }

    /*-----------the content--------*/
    .home-content{
        width: 100%;
        height: 100vh;
    }


    .header-bar{
      width: 100%;
      margin-bottom: 100px;
    }

    .logo-big {
        height: 70px;
        width: 100px;

    }
    .moringa-title {
        margin-top: 50px;

    }

    .moringa-title span {
        font-family: Metropolis;
        font-size: 5.5rem;
    }

    .slogan{
      font-family: Raleway-Regular;

        padding: 10px;
        margin: 50px 0 60px 0;
    }

    .slogan span {
        font-size: 1.1rem;
        width: 100%;
    }

    #btn-click {
        padding: 20px 0 20px 0;

    }

    .more-btn {
        padding: 15px 40px 15px 40px;
        font-size: 1.3rem;
        letter-spacing: 0px;
        color: aliceblue;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 3px solid #398583;
    }

    .btntour{
      width: 25%;
      border:1px solid white;
      height: auto;
      cursor: pointer;

    }
    .btntour:hover{
      color: #8DC89C;
      border: 2px solid #8DC79E;
    }
}


/*----------------------------------------------------------------*/
 /*Small screens*/
@media screen and (max-width: 768px) {
     /*-----------side -menu--------*/

    .menu, .home-content {
        position: relative;
    }

    .menu {
        width: 70px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
    }

    .flex {
        width: 50px;
        left: 20px;
    /*    position: relative;*/

    }

    .flex div{
        width: 50px;
        height: 80px;
    }

    .flex div p {
         font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .menu-icon {

    }

    .menu-title {
/*        visibility:visible;*/
        font-size: 1.3rem;
        margin-top: 3px;
    }

    .menu-item {
/*        visibility: hidden;    */
    }

    .menu-icon:hover {

    }

    .flex  div:hover, .flex  div p:hover {
        color: #fff
    }

}

/*----------------------------------------------------------------*/
/* Extra Small Devices */
@media screen and (max-width: 601px) {
    .menu {
        width: 0px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
        visibility: hidden;
    }

    .v-menu {
        visibility: hidden;
    }


    /*-----------vertical-menu--------*/
    .h-nav {
        height: 70px;
        width: 480px !important;
        position: absolute;
        top:50px;
        visibility: visible;
    }

    .h-flex {
        width: 100%;
        height: 70px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 70px;
        height: 80px;
        color: #fff;
        text-align: center;
        padding-top: 15%;
    }


    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .menu-icon-h img {
       width: 40px;

    }

    .menu-icon-h .menu-title {
        visibility: hidden;
        font-size: 0rem;
    }


    .h-nav .menu-item {
        visibility: visible;
    }

    .flex  div:hover, .flex  div p:hover {
        color: #fff;
    }

    .flex  div:hover{
        background-color:rgba(192,192,192,0.6);

    }

    /*-----------the content--------*/
    .home-content{
        width: 100% !important;
        height: 100vh;
        position: absolute;
    }

    .header-bar{
      width: 100%;
      margin-bottom: 100px;
    }

    .logo-big {
        height: 70px;
        width: 100px;

    }
    .moringa-title {
        margin-top: 50px;

    }

    .moringa-title span {
        font-family: Metropolis;
        font-size: 5rem;
    }

    .slogan{
      font-family: Raleway-Regular;

        padding: 10px;
        margin: 50px 0 60px 0;
    }

    .slogan span {
        font-size: 1.1rem;
        width: 100%;
    }

    #btn-click {
        padding: 20px 0 20px 0;

    }

    .more-btn {
        padding: 15px 40px 15px 40px;
        font-size: 1.1rem;
        letter-spacing: 0px;
        color: aliceblue;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 2px solid #398583;
    }

    .btntour{
      width: 25%;
      border:1px solid white;
      height: auto;
      cursor: pointer;

    }
    .btntour:hover{
      color: #8DC89C;
      border: 2px solid #8DC79E;
    }

}

/*----------------------------------------------------------------*/
/* Phones */
@media only screen and (max-width : 480px) {

    .menu {
        width: 0px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
        visibility: hidden;
    }

    .v-menu {
        visibility: hidden;
    }


    /*-----------vertical-menu--------*/
    .h-nav {
        height: 50px;
        width: 100% !important;
        position: absolute;
        top:20px;
        visibility: visible;
    }

    .h-flex {
        width: 270px;
        height: 50px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 40px;
        height: 100%;
        color: #fff;
        text-align: center;
        padding-top: 15%;
    }


    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .7rem;
    /*    font-weight: bold;*/
    }


    .h-flex div img {
        width: 25px;
    }

    .menu-icon-h img {
       width: 30px;

    }

    .menu-icon-h .menu-title {
        visibility: hidden;
        font-size: 0rem;
    }


    .h-nav .menu-item {
        visibility: visible;
    }

    .flex  div:hover, .flex  div p:hover {
        color: #fff;
    }

    .flex  div:hover{
        background-color:rgba(192,192,192,0.6);

    }

    /*-----------the content--------*/
    .home-content{
        width: 100% !important;
        height: 100%;
        min-height: 100%;
        position: absolute;
    }

    .home-descr {
        height: 330px;
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
        top: 130px;
    }

    .moringa-title {
        margin-top: 0px;

    }

    .moringa-title span {
        font-family: Metropolis;
        font-size: 3rem;
        margin-top: 10px;
    }

    .slogan {
        margin: 30px 0 40px 0;
    }

    .slogan span {
        font-size: .9rem;
        width: 100%;

    }

    #btn-click {
        padding: 10px 0 20px 0;

    }

    .more-btn {
        padding: 12px 30px 12px 30px;
        font-size: 1rem;
        letter-spacing: 0px;
        color: aliceblue;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 1px solid #398583;
    }

    .btntour{
      width: 25%;
      border:1px solid white;
      height: auto;
      cursor: pointer;

    }
    .btntour:hover{
      color: #8DC89C;
      border: 2px solid #8DC79E;
    }

    }
