@import url('normalize.css');
@import url('demo.css');

@font-face {
    font-family: BIGJOHN;
    src: url(../font/BIGJOHN.otf);
}
@font-face {
    font-family: Metropolis;
    src: url(../font/Metropolis.otf);
}
@font-face {
    font-family: SlimJoe;
    src: url(../font/SlimJoe.otf);
}
@font-face {
    font-family: Anders;
    src: url(../font/Anders.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../font/raleway/Raleway-Regular.otf);
}


@font-face {
  font-family: "socicon";
  src:url("font/socicon.eot");
  src:url("font/socicon.eot?#iefix") format("embedded-opentype"),
    url("font/socicon.woff") format("woff"),
    url("font/socicon.ttf") format("truetype"),
    url("font/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;

}


@font-face {
    font-family: Anders;
    src: url(../font/Ribbon.otf);
}



[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-modelmayhem:before {
  content: "\e000";
}
.socicon-mixcloud:before {
  content: "\e001";
}
.socicon-drupal:before {
  content: "\e002";
}
.socicon-swarm:before {
  content: "\e003";
}
.socicon-istock:before {
  content: "\e004";
}
.socicon-yammer:before {
  content: "\e005";
}
.socicon-ello:before {
  content: "\e006";
}
.socicon-stackoverflow:before {
  content: "\e007";
}
.socicon-persona:before {
  content: "\e008";
}
.socicon-triplej:before {
  content: "\e009";
}
.socicon-houzz:before {
  content: "\e00a";
}
.socicon-rss:before {
  content: "\e00b";
}
.socicon-paypal:before {
  content: "\e00c";
}
.socicon-odnoklassniki:before {
  content: "\e00d";
}
.socicon-airbnb:before {
  content: "\e00e";
}
.socicon-periscope:before {
  content: "\e00f";
}
.socicon-outlook:before {
  content: "\e010";
}
.socicon-coderwall:before {
  content: "\e011";
}
.socicon-tripadvisor:before {
  content: "\e012";
}
.socicon-appnet:before {
  content: "\e013";
}
.socicon-goodreads:before {
  content: "\e014";
}
.socicon-tripit:before {
  content: "\e015";
}
.socicon-lanyrd:before {
  content: "\e016";
}
.socicon-slideshare:before {
  content: "\e017";
}
.socicon-buffer:before {
  content: "\e018";
}
.socicon-disqus:before {
  content: "\e019";
}
.socicon-vkontakte:before {
  content: "\e01a";
}
.socicon-whatsapp:before {
  content: "\e01b";
}
.socicon-patreon:before {
  content: "\e01c";
}
.socicon-storehouse:before {
  content: "\e01d";
}
.socicon-pocket:before {
  content: "\e01e";
}
.socicon-mail:before {
  content: "\e01f";
}
.socicon-blogger:before {
  content: "\e020";
}
.socicon-technorati:before {
  content: "\e021";
}
.socicon-reddit:before {
  content: "\e022";
}
.socicon-dribbble:before {
  content: "\e023";
}
.socicon-stumbleupon:before {
  content: "\e024";
}
.socicon-digg:before {
  content: "\e025";
}
.socicon-envato:before {
  content: "\e026";
}
.socicon-behance:before {
  content: "\e027";
}
.socicon-delicious:before {
  content: "\e028";
}
.socicon-deviantart:before {
  content: "\e029";
}
.socicon-forrst:before {
  content: "\e02a";
}
.socicon-play:before {
  content: "\e02b";
}
.socicon-zerply:before {
  content: "\e02c";
}
.socicon-wikipedia:before {
  content: "\e02d";
}
.socicon-apple:before {
  content: "\e02e";
}
.socicon-flattr:before {
  content: "\e02f";
}
.socicon-github:before {
  content: "\e030";
}
.socicon-renren:before {
  content: "\e031";
}
.socicon-friendfeed:before {
  content: "\e032";
}
.socicon-newsvine:before {
  content: "\e033";
}
.socicon-identica:before {
  content: "\e034";
}
.socicon-bebo:before {
  content: "\e035";
}
.socicon-zynga:before {
  content: "\e036";
}
.socicon-steam:before {
  content: "\e037";
}
.socicon-xbox:before {
  content: "\e038";
}
.socicon-windows:before {
  content: "\e039";
}
.socicon-qq:before {
  content: "\e03a";
}
.socicon-douban:before {
  content: "\e03b";
}
.socicon-meetup:before {
  content: "\e03c";
}
.socicon-playstation:before {
  content: "\e03d";
}
.socicon-android:before {
  content: "\e03e";
}
.socicon-snapchat:before {
  content: "\e03f";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-googleplus:before {
  content: "\e042";
}
.socicon-pinterest:before {
  content: "\e043";
}
.socicon-foursquare:before {
  content: "\e044";
}
.socicon-yahoo:before {
  content: "\e045";
}
.socicon-skype:before {
  content: "\e046";
}
.socicon-yelp:before {
  content: "\e047";
}
.socicon-feedburner:before {
  content: "\e048";
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-viadeo:before {
  content: "\e04a";
}
.socicon-xing:before {
  content: "\e04b";
}
.socicon-myspace:before {
  content: "\e04c";
}
.socicon-soundcloud:before {
  content: "\e04d";
}
.socicon-spotify:before {
  content: "\e04e";
}
.socicon-grooveshark:before {
  content: "\e04f";
}
.socicon-lastfm:before {
  content: "\e050";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-vimeo:before {
  content: "\e052";
}
.socicon-dailymotion:before {
  content: "\e053";
}
.socicon-vine:before {
  content: "\e054";
}
.socicon-flickr:before {
  content: "\e055";
}
.socicon-500px:before {
  content: "\e056";
}
.socicon-instagram:before {
  content: "\e057";
}
.socicon-wordpress:before {
  content: "\e058";
}
.socicon-tumblr:before {
  content: "\e059";
}
.socicon-twitch:before {
  content: "\e05a";
}
.socicon-8tracks:before {
  content: "\e05b";
}
.socicon-amazon:before {
  content: "\e05c";
}
.socicon-icq:before {
  content: "\e05d";
}
.socicon-smugmug:before {
  content: "\e05e";
}
.socicon-ravelry:before {
  content: "\e05f";
}
.socicon-weibo:before {
  content: "\e060";
}
.socicon-baidu:before {
  content: "\e061";
}
.socicon-angellist:before {
  content: "\e062";
}
.socicon-ebay:before {
  content: "\e063";
}
.socicon-imdb:before {
  content: "\e064";
}
.socicon-stayfriends:before {
  content: "\e065";
}
.socicon-residentadvisor:before {
  content: "\e066";
}
.socicon-google:before {
  content: "\e067";
}
.socicon-yandex:before {
  content: "\e068";
}
.socicon-sharethis:before {
  content: "\e069";
}
.socicon-bandcamp:before {
  content: "\e06a";
}
.socicon-itunes:before {
  content: "\e06b";
}
.socicon-deezer:before {
  content: "\e06c";
}
.socicon-medium:before {
  content: "\e06d";
}
.socicon-telegram:before {
  content: "\e06e";
}
.socicon-openid:before {
  content: "\e06f";
}
.socicon-amplement:before {
  content: "\e070";
}
.socicon-viber:before {
  content: "\e071";
}
.socicon-zomato:before {
  content: "\e072";
}







#used-text{
 font-family: Anders;
}
.ps-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
/*	text-transform: uppercase;*/
	color: #555;
	background: #fff;
}

.ps-container > div {
	position: absolute;
	width: 50%;
}

.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
	position: absolute;
}

.ps-header {
	top: 0px;
	left: 0px;
	height: 150px;
	z-index: 1001;
	background: #fff;
}

.ps-header h1 {
    text-transform: uppercase;
	color: #ccc;
	line-height: 150px;
	margin: 0;
	padding: 0 50px;
	font-weight: 200;
	font-size: 14px;
	letter-spacing: 10px;
}

.ps-contentwrapper {
	top: 150px;
	bottom: 0px;
	overflow: hidden;
	z-index: 1000;
}

.ps-content {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.ps-content h2 {
	padding: 10px 15px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	letter-spacing: 4px;
	margin: 10px 0 30px;
	text-align: right;
    text-transform: uppercase;
	font-weight: 700;
}

.ps-descr {
    height: 150px;
}
.p-title{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: double;
    font-size: .9rem;
    margin: 0 0 10px 5px;
}

.p-descr {
    font-family: Raleway-Regular;
    font-size: .9rem;
    letter-spacing: .1px;
    margin: 20px 0 0 0;
    height: 100%;
}

.ps-content p {
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 2px;
	word-spacing: 10px;
	padding: 10px 15px;
	font-weight: 400;
	text-align: justify;
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}

.ps-price {
	float: left;
	margin: 20px 10px 10px 10px;
    padding: 10px;
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	color: #fff;
	background: black;

	font-size: 55px;
	font-weight: 200;
    font-family: Metropolis;
}

.ps-content a:last-child {
	font-size: 14px;
	font-weight: 700;
	color: #555;
	letter-spacing: 4px;
	float: right;
	border: 3px solid #555;
	padding: 3px;
	text-indent: 4px;
}

.no-touch .ps-content a:last-child:hover {
	color: #b2d79d;
	border-color: #b2d79d;
}

.ps-content a:last-child:before {
	content: "\e030";
	font-family: 'socicon';
	font-style: normal;
	font-weight: normal;
	speak: none;
	padding-right: 5px;
}

.ps-slidewrapper {
	right: 0px;
	top: 0px;
	height: 100%;
	overflow: hidden;
}

.ps-slides {
	top: 0px;
	bottom: 200px;
	width: 100%;
}

.ps-slides > div {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}

.ps-slidewrapper > nav {
	width: 100%;
	height: 200px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.ps-slidewrapper > nav > a {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	box-shadow: inset 0 0 0 9999px rgba(207,227,206,0.8);
	outline: none;
}

.ps-slidewrapper > nav > a:first-child {
	box-shadow: inset 0 0 0 9999px rgba(233,217,141,0.8);
}

.no-touch .ps-slidewrapper > nav > a {
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	-ms-transition: box-shadow 0.4s ease-in-out;
	-o-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
	box-shadow: inset 0 0 0 9999px rgba(246,224,121,0.1);
}

.no-touch .ps-slidewrapper > nav > a:first-child:hover {
	box-shadow: inset 0 0 0 9999px rgba(249,15,15,0.1);
}

.ps-slidewrapper > nav > a:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}

.ps-slidewrapper > nav > a:first-child:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -80px 0 0 -50px;
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
	background-color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}

@media screen and (max-width: 860px) {

	.js .ps-container > div {
		width: 100%;
	}

	.js .ps-header {
		height: 50px;
	}

	.js .ps-header h1 {
		line-height: 50px;
		padding: 0px 20px;
		letter-spacing: 4px;
	}

	.js .ps-slides {
		bottom: 320px;
		top: 50px;
	}

	.js .ps-slidewrapper > nav {
		height: 100px;
	}

	.js .ps-contentwrapper {
		top: auto;
		height: 220px;
		bottom: 100px;
	}

	.js .ps-content {
		padding: 10px;
	}

	.js .ps-content h2 {
		border-right: none;
		font-size: 18px;
		margin: 10px 0;
		padding-top: 0;
	}

	.js .ps-content span.ps-price {
		font-size: 3rem;
		width: 100px;
		height: 100px;
		line-height: 50px;
		font-weight: 700;
        margin: 5px 10px 0 0;
	}

	.js .ps-content p {
		line-height: 20px;
		border: none;
		padding: 5px 10px;
		height: 80px;
/*		overflow-y: scroll;*/
	}

    .js .ps-descr {
        height: 100px;
    }
    .js .p-descr {
        margin: 10px 0 0 0;
    }
	.js .ps-content a:last-child {
		font-size: 13px;
		margin: 10px 20px 0 0;
	}
}




